  
  
  
  .pagination{
    display: flex;
    align-items: center;
    background: #fff;
    color: #db2d2d;
    padding: 10px 40px;
    border-radius: 60px;
  }
  ul{
    margin: 20px 30px
  }
  ul li{
    display: inline-block;
    margin: 0px 5px;
    background: #ccc;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    cursor: pointer;
    background-position: 0 -45px;
    transition: background-position 0.5s;
  }
  ul li.active{
    color: #fff;
    background-image: linear-gradient(#ff4568,#ff4568);
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .btn1,.btn2{
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    color: #383838;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  } 

 
  #myInput, #myInput2, #myFilter, #myFilter2{
    background-image: url('search-04.jpg'); 
    width: 22%; /* Full-width */
    font-size: 10px; /* Increase font-size */
    padding: 8px 10px 10px 10px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 20px; /* Add some space below the input */
  }
  table th:nth-child(3), td:nth-child(3) {
    display: none;
  }